{% extends "../layouts/main.twig" %}

{% set title = "page liste" %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/pl.css" />
{% endblock %}

{% block content %}
	<ul class="ProductList">
		
	</ul>
	<p>test</p>
{% endblock %}

{% block scripts %}
	<script src="js/pl.js"></script>
{% endblock %}