{% extends "../layouts/main.twig" %}

{% set title = "homepage" %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/home.css" />
{% endblock %}

{% block content %}
	<h2>C'est la Homepage !</h2>
{% endblock %}

{% block scripts %}
	<script src="js/home.js"></script>
{% endblock %}