{# layout.twig #}

{% from "../../components/header/header.twig" import Header as Header %}
{% from "../../components/menu/menu.twig" import Menu as Menu %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" >
		
		<link rel="stylesheet" href="css/common.css" />
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>
		{{ Header() }}
		{{ Menu() }}
		{% block content %}

		{% endblock %}
		
		<script src="js/common.js"></script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>

